:root {
  --font-main: "Tomorrow", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;

  --brand-red: #ca5840;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font: inherit;
}
