.viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}
